@font-face
  font-family: "ModernistRegular"
  src : url("~@/assets/fonts/Sk-Modernist-Regular.otf")
  font-weight: 500
  font-style: normal
  font-display: swap
@font-face
  font-family: "ModernistMono"
  src : url("~@/assets/fonts/Sk-Modernist-Mono.otf")
  font-weight: 500
  font-style: normal
  font-display: swap
@font-face
  font-family: "ModernistBold"
  src : url("~@/assets/fonts/Sk-Modernist-Bold.otf")
  font-weight: 400
  font-style: normal
  font-display: swap
a
  text-decoration: none
.lazyLoad
  opacity: 0
  transition: 0.3s ease-in-out
.overflow-hidden
  overflow: hidden
.isLoaded
  opacity: 1
  //transition: none
.no-image-transition
  transition: none !important

