<template>
  <div class="home-coming">
    <div class="parent">
      <div class="child">
        <h1>
          We are almost there! To be notified of the latest Netty  news once we go live,
          subscribe to our mailing list and follow us.
        </h1>
        <h2>
          We are coming
        </h2>
        <home-subscribe />
      </div>
    </div>
    <div class="dark-gradient"></div>
    <div class="for-bg">
      <img alt="bg" class="bg" src="~@/assets/images/bg4-min.png">
    </div>
    <img alt="netti app" class="mockup" src="../../assets/images/mockup.png">
  </div>
</template>

<script>
import TweenMax from 'gsap'
import HomeSubscribe from "@/components/homeComponents/homeSubscribe";
export default {
  name: "homeComing",
  components: {HomeSubscribe},
  mounted() {
    TweenMax.to('.home-coming h1, .home-coming h2', { delay: 0.5, stagger: 0.1, opacity: 1, y: 0, ease: 'power2.out', duration: 0.7 })
    TweenMax.set('.mockup, .bg', { transition: 'none' })
    TweenMax.to('.mockup', {
      opacity: 1,
      y: 0,
      delay: 1.1,
      duration: 1.2,
      ease: 'power2.out'
    })
    TweenMax.to('.for-bg', {
      opacity: 1,
      delay: 0.7,
      duration: 1,
      ease: 'power2.out'
    })
    TweenMax.to('.home-header', { opacity: 1, delay: 2, duration: 0.5 })
    const loop = TweenMax.to('.bg', {
      rotate: '360deg',
      repeat: -1,
      duration: 15,
      delay: 1,
      ease: 'none',
      //paused: true,
      onComplete: ()=>{

      }
    })
  }
}
</script>

<style lang="sass">
@keyframes circle
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
.home-coming
  min-height: 100vh
  position: relative
  overflow: hidden
  .home-subscribe
    display: none
    @media all and (max-width: 991px)
      display: block
  .dark-gradient
    position: absolute
    width: 28vh
    left: calc(50% - 28.8vh/2)
    bottom: 26vh
    background: #141314
    height: 230px
    z-index: 1
    filter: blur(54px)
    opacity: 0.9
    @media all and (max-height: 780px) and (min-width: 1300px)
      bottom: 24vh
    @media all and (max-height: 650px) and (min-width: 1300px)
      bottom: 20vh
    @media all and (max-width: 991px)
      display: none
  .for-bg
    position: absolute
    width: 100%
    height: 1px
    bottom: 0
    opacity: 1
  .bg
    position: absolute
    top: -80vh
    width: 1920px
    z-index: 2
    //animation-name: circle
    //animation-duration: 15s
    //animation-iteration-count: infinite
    //animation-timing-function: linear
    left: calc(50% - 1920px/2)
    @media all and (max-height: 750px) and (min-width: 1220px)
      top: -90vh
    @media all and (max-width: 991px)
      top: -80vw
    @media all and (max-width: 767px)
      width: 1200px
      left: calc(50% - 1200px/2)
      top: -100vw
  .mockup
    position: absolute
    bottom: 0
    width: 28vh
    left: calc(50% - 28.8vh/2)
    z-index: 3
    opacity: 1
    transform: translateY(100%)
    @media all and (max-height: 780px) and (min-width: 1300px)
      width: 26vh
      left: calc(50% - 26vh/2)
    @media all and (max-width: 991px)
      width: 50vw
      left: calc(50% - 50vw/2)
    @media all and (max-width: 800px)
      width: 45vw
      left: calc(50% - 45vw/2)
    @media all and (max-width: 413px)
      width: 60vw
      left: calc(50% - 60vw/2)
      bottom: -14vh
    @media all and (max-width: 375px)
      width: 45vw
      left: calc(50% - 45vw/2)
      bottom: -14vh
  .parent
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    position: relative
    @media all and (max-width: 991px)
      align-items: flex-start
      z-index: 4
    .child
      margin-top: -15vh
      @media all and (max-width: 991px)
        margin-top: 114px
      @media all and (max-width: 767px)
        flex: 0 0 100%
        width: 100%
        padding: 0 18px
        margin-top: 104px
  h1
    font-family: $ModernistMono
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 130%
    text-align: center
    color: #C0BBCD
    max-width: 388px
    margin: auto
    opacity: 0
    transform: translateY(40px)
    @media all and (max-height: 650px) and (min-width: 1300px)
      position: relative
      top: -40px
  h2
    font-family: $ModernistBold
    font-style: normal
    font-weight: 700
    font-size: 100px
    line-height: 100%
    color: #FFFFFF
    text-align: center
    opacity: 0
    transform: translateY(40px)
    @media all and (max-height: 650px) and (min-width: 1300px)
      position: relative
      top: -40px
    @media all and (max-width: 991px)
      font-size: 70px
    @media all and (max-width: 767px)
      font-size: 50px
      max-width: 100%
      margin-top: 10px
      white-space: unset
    @media all and (max-width: 412px)
      font-size: 46px
</style>
