<template>
  <div class="home-subscribe">
    <div v-if="!form.success" class="for-form">
      <input :class="{ 'red': form.errors }"
             v-on:keyup.enter="validateForm"
             v-model="form.email"
             type="text"
             placeholder="Email address"
      >
      <button @click="validateForm">
        <div class="white"></div>
        <div class="gradient"></div>
        <span>Subscribe</span>
      </button>
      <div v-if="form.errors" class="error">{{form.errors}}</div>
    </div>
    <div v-if="form.success" class="success">
      <img alt="check mark" src="../../assets/images/check_mark_icn.svg">
      Thank you! Your submission has been received!
    </div>
  </div>
</template>

<script>
export default {
  name: "homeSubscribe",
  data() {
    return {
      form: {
        email: null,
        errors: false,
        validated: false,
        sending: false,
        success: false,
        errorMessage: false
      },
    }
  },
  methods: {
    async subscribe() {
      try {
        const response = await this.$axios.post('/api/subscribe', {email: this.form.email});
        this.form.success = true;
      } catch (error) {
        console.log(error)
        this.form.success = false
        this.form.email = null
        this.form.errors = 'Something went wrong, please try again'
        setTimeout(()=>{
          this.form.errors = false
        }, 3000)
      }
    },
    validateForm() {
      if (!this.form.email) {
        this.form.errors = 'Email required.'
      } else if (!this.validEmail(this.form.email)) {
        this.form.errors = 'Valid email required.'
      } else {
        this.form.errors = false
      }
      if (!this.form.errors.length) {
        this.subscribe()
        return true
      }
    },
    validEmail(email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email)
    },
  }
}
</script>

<style lang="sass">
.home-subscribe
  @media all and (max-width: 991px)
    width: 476px
    margin-top: 50px
  @media all and (max-width: 767px)
    width: 100%
  .success
    display: flex
    align-items: center
    font-family: $ModernistRegular
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 100%
    text-align: center
    color: #C0BBCD
    @media all and (max-width: 991px)
      justify-content: center
    img
      margin-right: 7px
  .for-form
    display: flex
    position: relative
    @media all and (max-width: 767px)
      flex-wrap: wrap
      width: 100%
      justify-content: center
    .error
      position: absolute
      font-family: $ModernistRegular
      color: #A00517
      bottom: -18px
      left: 2px
      font-size: 12px
      @media all and (max-width: 767px)
        bottom: unset
        top: 28px
    input
      flex: 0 0 250px
      width: 250px
      border: none
      border-bottom: solid 1px #2C2C2C
      padding-bottom: 5px
      padding-left: 0
      background: transparent
      font-family: 'ModernistMono'
      color: #C0BBCD
      outline: none
      transition: 0.3s ease-in-out
      border-radius: 0 !important
      @media all and (max-width: 991px)
        flex: 0 0 auto
        flex-grow: 1
      @media all and (max-width: 767px)
        flex: 0 0 100%
        flex-grow: unset
    input:focus
      border-bottom: 1px solid #5F5F5F
    .red
      border-bottom-color: #A00517 !important
    button
      flex:  0 0 120px
      cursor: pointer
      width: 120px
      height: 44px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 37px
      margin-left: 30px
      transition: 0.3s ease-in-out
      position: relative
      outline: none
      border: none
      @media all and (max-width: 767px)
        margin-top: 30px
        margin-left: 0
      span
        position: relative
        color: #0E0E0E
        font-family: $ModernistRegular
        font-size: 14px
        font-weight: 400
      .white
        position: absolute
        width: 100%
        height: 100%
        background: white
        opacity: 1
        transition: 0.3s ease-in-out
        border-radius: 37px
      .gradient
        @extend .white
        background: linear-gradient(91.49deg, #FE6D33 1.27%, #F4B39B 24.11%, #F0D3CB 35.53%, #E1C4D2 49.89%, #A989EB 67.83%, #3734FE 110.65%)
        opacity: 0
    button:hover
      .white
        opacity: 0
      .gradient
        opacity: 1
</style>
