<template>
  <div class="home-header">
    <div class="logo">
      <img alt="Netti Logo" src="~@/assets/images/Netti_Logo.svg">
    </div>
    <home-subscribe />
  </div>
</template>

<script>
import HomeSubscribe from "~/components/homeComponents/homeSubscribe";
export default {
  name: "homeHeader",
  components: {HomeSubscribe},
}
</script>

<style lang="sass">
.home-header
  display: flex
  align-items: center
  padding: 0 64px
  justify-content: space-between
  height: 73px
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 5
  opacity: 0
  background-color: rgba(14,14,14,1)
  @media all and (max-width: 991px)
    height: 60px
    padding: 0 50px
  @media all and (max-width: 767px)
    padding: 0 20px
    height: 50px
  .home-subscribe
    @media all and (max-width: 991px)
      display: none
</style>
