<template>
  <div class="error-page padding-30-30 m-padding-20">
    <div class="error-message" v-text="error.message"></div>
  </div>
</template>

<script>
export default {
  name: "error"
}
</script>

<style lang="sass">
.error-page
  display: flex
  width: 100%
  justify-content: center
  height: 100vh
  align-items: center
  align-content: center
  .error-message
    position: relative
    top: -34px
    text-align: center
    font-family: $ModernistRegular
    font-size: 52px
</style>
