<template>
  <div class="coming-soon-page">
    <home-header />
    <home-coming />
  </div>
</template>

<script>
import HomeHeader from "~/components/homeComponents/homeHeader";
import HomeComing from "~/components/homeComponents/homeComing";
export default {
  name: 'IndexPage',
  components: {HomeComing, HomeHeader},
  head () {
    return {
      meta: [
        {
          hid: 'description', name: 'description', content: 'Netti'
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'website'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Netti'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Netti'
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/social.png'
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: 'Netti'
        },
        // {
        //   hid: 'og:url',
        //   property: 'og:url',
        //   content: this.$route.fullPath
        // },
        // {
        //   hid: 'article:publisher',
        //   property: 'article:publisher',
        //   content: 'https://www.facebook.com/mova.beer/'
        // },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: '/social.png'
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Netti'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Netti'
        },
        // {
        //   hid: 'twitter:site',
        //   name: 'twitter:site',
        //   content: '@mova'
        // },
        // {
        //   hid: 'twitter:creator',
        //   name: 'twitter:creator',
        //   content: '@uMakeXYZ'
        // }
      ]
    }
  }
}
</script>
<style lang="sass">
body
  background: #0E0E0E
.coming-soon-page
  min-height: 100vh
  background: #0E0E0E
</style>
